.nav-dropdown, .dropdown-menu, .dropdown-menu a{
    background-color: #000044;
    color: #C0C0C0 !important;
}


.navbar a{
    color: #C0C0C0 !important;

}

.navbar a:hover
{
    color: white !important;
    background-color: #6699CC !important;
}

.navbar a:active{

}

.dropdown-header{
    font-size: 14px;
    padding: 2px;
}


