.navbar-toggler{
    color: #6699CC !important;
    background-color: #C0C0C0 !important;
}

.btn-primary-custom{
    background-color: #003366!important;
    border: none!important;
}

.btn-primary-custom:hover{
    background-color:  #000044  !important;
}

.btn-secondary-custom{
    background-color:#C0C0C0 !important;
    color: #003366 !important;
    border: none !important;
}

.btn-secondary-custom:hover{
    background-color: #a0a0a0 !important;
}

.text-blue {
    color: #003366;
}

.background-blue {
    background-color: #003366;
}

.text-darkblue {
    color: #000044;
}

.background-darkblue {
    background-color: #000044;
}

.text-lightblue {
    color: #6699CC
}

.background-lightblue {
background-color: #6699CC;
}

.text-gray {
    color: #C0C0C0;
}

.background-gray {
    background-color: #C0C0C0;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }

