.btn-outline-info:hover{
    color:white;
}

.modal-title{
  color:#003366;
}

.form-label{
    text-decoration: underline;
    font-weight: bold;
}

.active button{
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #003366;
    color: #FFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.active button:hover {
    background: #003366;
  }

  .active button:focus{
    background-color: #003366;
  }

.inactive button{
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #C0C0C0;
    color: #FFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.inactive button:hover {
    background: #003366;
  }

.form-content {
    text-align: left;
    text-transform: uppercase;
    color: #003366;
    overflow: hidden;
  }

.column-name{
    width: 100%;
    }
    
.delete-button{
        z-index: 1000;
    }
.delete-button:hover{
        cursor: pointer;
    }

.save-btn button{
      margin-top: 10px;
      width: 100%;
      border: none;
      padding: 18px;
      font-family: 'Rubik', sans-serif;
      cursor: pointer;
      text-transform: uppercase;
      background: #003366;
      color: #FFF;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      letter-spacing: 0.2px;
      outline: 0;
      -webkit-transition: all .3s;
      transition: all .3s;
  }
  
.save-btn button:hover {
      background: #000044;
    }
  
.cancel-btn button{
      margin-top: 10px;
      width: 100%;
      border: none;
      padding: 18px;
      font-family: 'Rubik', sans-serif;
      cursor: pointer;
      text-transform: uppercase;
      background: #e8e9ec;
      color: #003366;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      letter-spacing: 0.2px;
      outline: 0;
      -webkit-transition: all .3s;
      transition: all .3s;
  }
  
.cancel-btn button:hover {
      background: #c0c0c0;
    }

.add-btn button{
      margin-top: 10px;
      border: none;
      padding: 10px;
      font-family: 'Rubik', sans-serif;
      cursor: pointer;
      text-transform: uppercase;
      background: #003366;
      color: #FFF;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      letter-spacing: 0.2px;
      outline: 0;
      -webkit-transition: all .3s;
      transition: all .3s;
  }
  
.add-btn button:hover {
      background: #000044;
    }
  
.plain-h6{
  font-size: 90%;
  color: #C0c0c0;
}

.error-message{
  color: red;
}

.edit-btn{
  border: none;
  padding: 10px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #003366;
  color: #FFF;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-size: 14px;
}

.edit-btn:hover{
  background: #000044;
}

.previous{
  color: #003366;
}

.previous:hover{
  color: #000044;
  cursor: pointer;
}

.sidebar{
  text-align:center;
}


.remove-btn-cell{
  text-align: right;
}